<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
<body>
    <%-include('partials/nav.html');%>
    <br>
    <br>
    <div class="container">
        <section id="destacado">
            <h5>Productos destacados</h5>
            <br>
            <br>
            <div id="produc">
                <center>
                    <img src="./img/disfraz1.jpg" alt="">
                    <h3>Descripcion</h3>
                    <a href="">$00.00</a>
                </center>
            </div>
        </section>
        <section id="informacion">
            <h5 class="texto">¡TODOS LOS NIÑOS QUE HAN COMPRADO HAN SONREÍDO!</h5>

            <p class="texto">
                Te garantizamos que no te arrepentirás de comprarle un disfraz a tus pequeños, <br>
                contamos con mucha variedad de disfraces para la temporada que se aproxima.
            </p>
        </section>
    </div>
</body>
</html>